<div class="container">
    <hr>
    <div class="row">
      <div class="col-md-2 offset-md-4">
        <form #userProfileForm="ngForm" (ngSubmit)="updateUserProfile()">
          <div class="form-group">
            <label for="name">Enter you Hero Name:</label>
            <input type="text" class="form-control" #name="ngModel" id="name" name="name" [(ngModel)]="currentUserProfile!.name"
              required>
          </div>
          <button type="submit" [disabled]="!name.valid" class="btn btn-primary my-3">Save</button>
        </form>
      </div>
    </div>
  </div>