<div class="container">
    <div class="row">
        <div class="col my-3">
            <h1 class="text-center"> Welcome to the ultimate productivity game - My To-Do Game!</h1>
            <h2> Here, you can create your own missions and level up your productivity skills</h2>
            <h3>Whether you need to complete a project at work, organize your closet, or learn a new skill, My To-Do
                Game has
                got your back. Create your missions, select category and get ready to crush your goals.</h3>
            <h4>And the best part? You get rewarded with experience points every time you complete a mission. As you
                level up,
                you unlock new badges and bragging rights for being a productivity ninja.</h4>
            <h4>So what are you waiting for? Join the My To-Do Game community today and start leveling up your life!
            </h4>
            <button type="submit" class="btn  my-4 col-md-2" (click)="logIn()">Log In</button>
            <button type="submit" class="btn  my-4 col-md-2 ms-2" (click)="signIn()">Sign Up</button>
        </div>
    </div>
</div>