button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    color: #fff;
    background-color: #373b61;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #373b90;
}
