  .fixed-card{
      width: 350px; /* set a fixed width */
      min-height: 60px; /* set a minimum height */
   }

  .btn:focus {
    box-shadow: none;
  }
  .progress {
    height: 20px;
    background-color: #EDEFFE;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #a7d5e5;
    transition: width 0.3s ease-in-out;
  }
  
  .progress-bar-striped {
    background-image: (#373b61 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
  }